div.intro{
  font-size: 14pt
}

h1{
  font-weight: bold;
}

h2{
  font-weight: bold;
}

div.categories {
  font-family: serif;
  border-style: dashed;
  font-size: 12pt;
  font: times;
}

span.outstanding {
  font-family: fantasy;
  font-weight: bolder;
  color: purple;
}
